<!-- templates/admin/dashboard.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Admin Dashboard</h1>
  <!-- {% if current_user.is_authenticated and current_user.is_admin %}
  <a href="{{ url_for('admin.dashboard') }}">Admin Dashboard</a> -->
{% endif %}

  <div class="row">
    <div class="col-md-4">
      <div class="card text-bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text">{{ users|length }} total</p>
          <a href="{{ url_for('admin.manage_users') }}" class="btn btn-light btn-sm">Manage Users</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <p class="card-text">{{ products|length }} listed</p>
          <a href="{{ url_for('admin.manage_products') }}" class="btn btn-light btn-sm">Manage Products</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Orders</h5>
          <p class="card-text">{{ orders|length }} placed</p>
          <a href="{{ url_for('admin.manage_orders') }}" class="btn btn-light btn-sm">View Orders</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card text-bg-warning mb-3">
          <div class="card-body">
            <h5 class="card-title">Discounts</h5>
            <p class="card-text">{{ discounts|length }} placed</p>
            <a href="{{ url_for('admin.manage_discounts') }}" class="btn btn-light btn-sm">View Discounts</a>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
